@import "tailwindcss";
@tailwind utilities;

@layer base {
  html,
  body {
    min-height: 100%;
  }

  svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* Font */
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  src: url("/public/assets/fonts/Pretendard-Thin.woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  src: url("/public/assets/fonts/Pretendard-ExtraLight.woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url("/public/assets/fonts/Pretendard-Light.woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("/public/assets/fonts/Pretendard-Regular.woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("/public/assets/fonts/Pretendard-Medium.woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("/public/assets/fonts/Pretendard-SemiBold.woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("/public/assets/fonts/Pretendard-Bold.woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  src: url("/public/assets/fonts/Pretendard-ExtraBold.woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  src: url("/public/assets/fonts/Pretendard-Black.woff");
}

/* Noto Sans KR */
@font-face {
  font-family: "Noto Sans KR";
  font-weight: 100;
  src: url("/public/assets/fonts/NotoSansKR-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 200;
  src: url("/public/assets/fonts/NotoSansKR-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 300;
  src: url("/public/assets/fonts/NotoSansKR-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 400;
  src: url("/public/assets/fonts/NotoSansKR-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 500;
  src: url("/public/assets/fonts/NotoSansKR-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 600;
  src: url("/public/assets/fonts/NotoSansKR-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 700;
  src: url("/public/assets/fonts/NotoSansKR-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 800;
  src: url("/public/assets/fonts/NotoSansKR-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans KR";
  font-weight: 900;
  src: url("/public/assets/fonts/NotoSansKR-Black.ttf") format("truetype");
}
